[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", extras = ["all"], editable = true}

[dev-packages]
python-language-server = "*"
pyls-isort = "*"
pyls-mypy = "*"
ipykernel = "*"
pytest = "*"
importmagic = "*"
epc = "*"
pylint = "*"
ipython = "*"
twine = "*"
"flake8" = "*"
funcy = "*"

[requires]
python_version = "3.6"
